<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прогноз погоды</title>
    <style>
    td.num {
        text-align: right;
    }
    a:visited {color:blue; text-decoration:none}
</style>
</head>
<body>
    <a href="/">Вернуться на главную страницу</a>
    <br>
    <br>
    <table>
        <tr>
            <th>Дата</th> <th>Минимальная температура</th> <th>Максимальная температура</th>
        </tr>
        {{- range .All }}
        <tr>
            <td>{{ .Time}}</td>
            <td class="num">{{ .TempMin }}</td>
            <td class="num">{{ .TempMax }}</td>
        </tr>
        {{- end}}
    </table>
</body>