<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        a:visited {color:blue; text-decoration:none}
    </style>
</head>
<body>
    <form method="post" action="/forecast">
        <p>
            <label>Выберите город:</label>
            <br/>
            <select name="city">
                {{- range . }}
                <option value="{{.}}">{{.}}</option>
                {{- end }}
            </select>
        </p>
        <a href="/addcity">Добавить новый город</a>
        <br/>
        <br>
        <p>Начальная дата:</p>
        <input type="date" name="start_date">
        <br/>
        <p>Конечная дата:</p>
        <input type="date" name="end_date">
        <br/>
        <input type="submit" value="send">
        <br/>
    </form>
</body>